{% extends "base.html" %}
{% load static %}
{% block title %}Show Package{% endblock %}

{% block body %}
<div class="bg-green-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-10 rounded shadow-md text-center">
        <svg class="mx-auto mb-4 w-16 h-16 text-green-500" fill="none" stroke="currentColor" stroke-width="2"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2l4 -4m6 2a9 9 0 11-18 0a9 9 0 0118 0z" />
        </svg>
        <h2 class="text-2xl font-bold text-green-600">Payment Successful</h2>
        <p class="mt-2 text-gray-600">Thank you! Your transaction has been completed.</p>
        <a href="{% url 'my-subscription' %}"
            class="mt-4 inline-block bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
            Go to Home
        </a>
    </div>
</div>
{% endblock %}